<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <sessionState mode="InProc" cookieless="true" timeout="120"/>
    <!--<sessionState mode="StateServer" cookieless="true" timeout="30"/>-->
    <!--<sessionState mode="SQLServer" cookieless="true" timeout="30"/>-->
  </system.web>
</configuration>